<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuite name="SimpleCache - Testsuite">
        <directory>./src</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../../src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showOnlySummary="true"/>
        <log type="coverage-clover" target="../../reports/phpunit.coverage.xml"/>
        <log type="junit" target="../../reports/phpunit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>